    .accordion{
        margin-top: 50px;
        height:100px;
        font-size: 40px;
        /*background-color: #82A1DB;*/

    }

    /*.arrowText{*/
    /*    margin-right: 30px;*/

    /*}*/
    .arrow{
        color:white;
        font-family: 'Khand', sans-serif;

    }

    .arrow img{
        width:100px;
        height: 100px;

    }

    body {
        background-color: #E5EAD8;
    }


    #bottomB{
        color:white;
        background-color: #82A1DB;
        width: auto;
        height: 25px;
        margin-bottom: 20px;

    }

    .bd{
        display:none;
    }
    .btn{
        font-size: 40px;
    }

    /*.card{*/
    /*    background-color: #82A1DB;*/
    /*    margin-top: 100px;*/
    /*    -webkit-box-shadow: -1px 10px 10px -3px #777;*/
    /*    -moz-box-shadow: -1px 10px 10px -3px #777;*/
    /*    box-shadow: -1px 10px 10px -3px #777;*/
    /*}*/

    .card-body{
        color:white;
        font-family: 'Montserrat', sans-serif;
    }

    #circle{
        background-color: #82A1DB;
        border-radius: 50%;
        height:700px;
        width: 700px;
        margin-top: 50px;
        margin-left: 70px;
    }

    #circleBrain img{
        height: 1200px;
        margin-top: 250px;
        opacity: 0.5;
        position: static;
        /*margin-bottom: 500px;*/


    }
    #circleBrain{
        margin-left: -500px;
        margin-top: 450px;

    }

    #CreateBrain img{
       margin-top: -250px;
       margin-left: -490px;
       height: 1200px


    }
    #CreateBrain{
        height: 1200px;
        margin-top: 350px;
        opacity: 0.5;
        position: static;
        /*margin-bottom: 500px;*/
    }

    #CreateButton{
        background-color: white;
        color: #82A1DB;
        border-radius: 20px;
        font-family:'Khand', sans-serif; ;
    }

    #CreateCard{
        background-color: #82A1DB;
        font-family: 'Khand', sans-serif;
        color:white;
        width: 2050px;
        height: 750px;
        padding: 50px;
        -webkit-box-shadow: -1px 10px 10px -3px #777;
        -moz-box-shadow: -1px 10px 10px -3px #777;
        box-shadow: -1px 10px 10px -3px #777;
    }

    .CreateInput{
        font-size: 30px;
    }

    #CreateNewAd{
        font-size: 50px;
    }

    .CreateTitleCategory{
        font-size: 30px;
    }

    .container{
        height:700px;
        /*width:1500px;*/
    }

    .carouselBox{
        background-color: #82A1DB;
        border-radius: 5%;
        margin-top: -100px;
        border: 5px solid white;
        padding: 50px 50px 100px;
        height: auto;
        width: auto;
        -webkit-box-shadow: -1px 10px 10px -3px #777;
        -moz-box-shadow: -1px 10px 10px -3px #777;
        box-shadow: -1px 10px 10px -3px #777;
    }

    .carousel-caption {
        position: relative;
        left: 0;
        top: 0;
        width: 700px;
        /*height: 300px;*/
        margin-left: 140px;
        font-size: 50px;
        margin-top: 200px;

    }

    .form-control{
        font-size:40px;
    }

    #facelogo img{
        height:170px;
        width: 170px;
        margin-bottom: 700px;
        margin-left: 700px;
        margin-top: -400px;
        padding: 0;
        border-radius: 30%;
        border: solid white 3px;
    }


    #fontNavAd {
        font-size: 90px;
    }

    hr {
        background-color: white;
        margin-left: -40px;
        margin-right: -10px;
    }


    #iglogo img{
        height:170px;
        width: 170px;
        margin-bottom: 700px;
        margin-left: 700px;
        margin-top: -1100px;
        border-radius: 50%;
        border: solid white 6px;
    }


    #HomeCard{
        background-color: #82A1DB;
    }

    /*img {*/
    /*    width: auto;*/
    /*    height: 700px;*/

    /*}*/

    #Loginbutton{
        background-color: white;
        color: #82A1DB;
        border-radius: 20px;
        font-family:'Khand', sans-serif; ;
    }


    #LoginBrain img{
        height: 1200px;
        margin-top: 50px;
        /*margin-bottom: -500px;*/
        opacity: 0.5;
        position: static;

    }

    #LoginBrain{
        margin-left: -500px;
        margin-top: 50px;
        margin-bottom: 200px ;
    }

    #LoginContainer{
        background-color: #82A1DB;
        height: 400px;
        padding: 50px;
        -webkit-box-shadow: -1px 10px 10px -3px #777;
        -moz-box-shadow: -1px 10px 10px -3px #777;
        box-shadow: -1px 10px 10px -3px #777;

    }

    #LoginPlease{

        color:white;
        font-family: 'Khand', sans-serif;

    }

    .LoginUserPassword{
        color:white;
        font-family: 'Khand', sans-serif;;
    }
    #Main {

        font-size: 60px;
        color: burlywood;
    }

    #Mainpic img{
        height:600px;
        width:900px;
        margin-top: 50px;
        margin-left: 40px;

    }


    .navbar {
        height: 140px;
        width: auto;
        background-color: #82A1DB;
        -webkit-box-shadow: -1px 10px 10px -3px #777;
        -moz-box-shadow: -1px 10px 10px -3px #777;
        box-shadow: -1px 10px 10px -3px #777;
    }

    #navBrain {
        color: white;
        font-family: Concert One, serif;
        font-size: 110px;
        margin-bottom: -50px;
        margin-top: -25px;
    }

    #NavIcon {
        width: auto;
        height: 120px;
        margin-left: -15px;
        margin-top: -10px;
        margin-bottom: -10px;
    }


    #navLister {

        color: #82A1DB;
        display: inline-flex;
        font-family: "Concert One", serif;
        font-size: 110px;
        margin-top: -20px;
        margin-left: 340px;


    }

    #NavLogin {
        margin-right: -30px;
        margin-left: 40px;
        /*margin-left: 40px;*/
        margin-bottom: -50px;
        /*margin-top: -20px;*/


    }

    #NavLoginContainer {
        margin-bottom: -20px;
    }

    #NavLogout {
        /*margin-bottom: 10px;*/
        /*padding-bottom: -10px;*/
    }

    #NavLogoutContainer {
        margin-bottom: 20px;
        margin-top: -20px;
    }

    .NavFontLoginLogout {

        /*border-radius: 50%;*/
        color: white;
        /*display: inline;*/
        font-family: 'Khand', sans-serif;
        font-size: 40px;
        /*border: white solid 1px;*/
        /*width:250px;*/
        /*height: 250px;*/
        margin-right: 40px;
        /*margin-top: 90px;*/
        /*margin-bottom: 29px;*/

    }

    #NavLoginLogoutContainer {
        margin-bottom: -40px;
    }

    #ProfileAdsCard{
        color: black;
        height: auto;
        width: 700px;
        margin-top: 850px;
        /*margin-left: 20px;*/
        /*margin-bottom: -100px;*/
        margin-right: 50px;
        -webkit-box-shadow: -1px 10px 10px -3px #777;
        -moz-box-shadow: -1px 10px 10px -3px #777;
        box-shadow: -1px 10px 10px -3px #777;
        position:absolute;



    }

    #ProfileBrain{
        height: 1200px;
        margin-top: -250px;
        /*margin-bottom: -500px;*/
        opacity: 0.5;

        margin-left: -620px;
    }
    #ProfileBrain img{
        height:1200px;
        position: relative;
    }
    #ProfileCard{
        font-size: 50px;
        -webkit-box-shadow: -1px 10px 10px -3px #777;
        -moz-box-shadow: -1px 10px 10px -3px #777;
        box-shadow: -1px 10px 10px -3px #777;

    }

    #ProfileCardBody{
        /*width:700px;*/
        /*height: 400px;*/
    }


    .ProfileCardFont{
        color:black;
    }
    #ProfileCreateAdButton{
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        height: 50px;
        width: 200px;
        margin-top: 30px;
        background-color: white;
        border-radius: 50px;
        -webkit-box-shadow: -1px 10px 10px -3px #777;
        -moz-box-shadow: -1px 10px 10px -3px #777;
        box-shadow: -1px 10px 10px -3px #777;
    }

    #ProfileCard{
        width:700px;
        height: 700px;
        margin-left: 150px;
        font-family: Ubuntu, serif;
        background-color: #82A1DB;
    }

    .ProfileDeleteEditButton{
        font-family: 'Ubuntu', sans-serif;
        height: 70px;
        width: 400px;
        background-color: #82A1DB;
        border-radius: 50px;
        color:white;
        margin-left: 120px;
        -webkit-box-shadow: -1px 10px 10px -3px #777;
        -moz-box-shadow: -1px 10px 10px -3px #777;
        box-shadow: -1px 10px 10px -3px #777;
    }

    #ProfileEmail{
        font-size: 30px;
        margin-left: 90px;
        margin-top: -59px;
    }

    #ProfileEmailLogo{
        width:50px;
        margin-top: 50px;
    }


    #ProfileImage{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        align-content: center;
        margin-left: 220px;
        margin-top: 50px;
    }

    #ProfileWelcome{
        font-family: 'Ubuntu', sans-serif;
        color:white;
        margin-left: 200px;
        margin-top: 50px;
    }

    #twitlogo img{
        height:170px;
        width: 170px;
        margin-left: 700px;
        margin-top: -750px;

    }

    #WordLogin {
        margin-right: -40px;
        margin-left: 10px;
    }


    @media screen and (min-width: 992px){


    #navLister{
        margin-left: 670px;
    }


}
